<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.book_master">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-configuration android:noHistory="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="BookMaster"
        android:noHistory="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Bottom_nav_test" />
        <activity android:name=".request_description" />
        <activity android:name=".add_book_activity" />
        <activity android:name=".edit_book_activity" />
        <activity android:name=".edit_profile_activity" />
        <activity android:name=".profile_page_activity" />
        <activity android:name=".retrieve_profile" />
        <activity android:name=".borrower_borrowed_book_list_activity" />
        <activity android:name=".retrieve_username_activity" />
        <activity android:name=".search_description" />
        <!-- <activity android:name=".owner_receive_activity" /> -->
        <activity android:name=".borrow_return_activity" />
        <activity android:name=".return_activity" />
        <activity android:name=".check_list_activity" />
        <activity android:name=".main_menu_activity" />
        <activity android:name=".BookInfo" />
        <activity android:name=".message_description" />
        <activity android:name=".request_menu" />
        <activity android:name=".show_notification_activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".owner_receive_activity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".capture_activity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>