<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.book_master">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-configuration android:noHistory="true" />
    <permission
        android:name="your_pakage_name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="BookMaster"
        android:noHistory="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity android:name=".add_book_activity" />
        <activity android:name=".book_description_activity" />
        <activity android:name=".borrower_return_activity"/>
        <activity android:name=".capture_ISBN__activity"/>
        <activity android:name=".check_list_activity" />
        <activity android:name=".edit_book_activity" />
        <activity android:name=".edit_profile_activity" />
        <activity android:name=".main_menu_activity" />
        <activity android:name=".notification_description_activity" />
        <activity android:name=".show_notification_activity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".map_select_activity"/>
        <activity android:name=".notification_description_activity" />
        <activity android:name=".profile_description_activity" />
        <activity android:name=".request_description" />
        <activity android:name=".request_navigator" />
        <activity android:name=".search_navigator" />
        <activity android:name=".search_page_book_description"/>
        <activity android:name=".show_notification_activity" />
    </application>

</manifest>